:root{
    --purple-light: #a4508b;
    --purple-dark: #5f0a87;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--purple-light);
    background-image: linear-gradient(326deg,var(--purple-light) 0%, var(--purple-dark) 74%);
    background-repeat: no-repeat;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    background-color: whitesmoke;
    height: 400px;
    width: 800px;
    margin: 100px auto;
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.clock{
    font-size: 3em;
}



.keep-button{
    display: flex;
    width: 400px;
    height: 60px;
    justify-content: space-around;

}


button{
    border: none;
    background-color: var(--purple-light);
    height: 40px;
    width: 100px;
    border-radius: 4px;
    transition: 200ms ease-in-out;
    font-weight: bold;
    font-style: italic;
}

button:hover{
    background-color: var(--purple-dark);
}

.paused{
    color: red;
    transition: 300ms ease-in-out;
}

